<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<%- include('component/navbar.ejs') %>
<body>
    <div class="body">
    <div class="card">
        <h2 class="card-title">Card Title</h2>
        <h4 class="card-subtitle">Card Subtitle</h4>
        <p class="card-description">This is a description of the card. It provides additional details and information.</p>
    </div>

    <div class="card">
        <h2 class="card-title">Card Title</h2>
        <h4 class="card-subtitle">Card Subtitle</h4>
        <p class="card-description">This is a description of the card. It provides additional details and information.</p>
    </div>

    <div class="card">
        <h2 class="card-title">Card Title</h2>
        <h4 class="card-subtitle">Card Subtitle</h4>
        <p class="card-description">This is a description of the card. It provides additional details and information.</p>
    </div>
</div>
    
    
</body>
</html>